/* CSS Document */
/*页面开始*/

/*banner顶部广告开始*/
.New-focus-banner {
    width: 680px;
    position: relative;
    height: 400px;
    background: #fff;
    /*display:inline;
    position: relative;*/
    margin-left:20%;
}

/*轮播图开始*/
.banner-box {
    /*overflow:hidden;
    position: relative;*/
    margin-top: 0px;
    width: 100%;
    height: 400px;
}
.banner-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}
.banner-box ol {
    width: 160px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    margin-left: -41px;
}
.banner-box ol li {
    float: left;
    display: block;
    width: 8px;
    height: 8px;
    margin: 5px;
    border: 2px solid #3e3e3e;
    border-radius: 50%;
    background: #3e3e3e;
}
.banner-ol-cke {
    background: orangered !important;
    border: 2px solid orangered !important;
    border-radius: 50%;
}

.ig {
    position: absolute;
}
/*轮播图结束*/

@keyframes dd-go {
    100% {
        top: 50px;
    }
}

background-size: 20px 20px;
    background-repeat: no-repeat;
.icon_single {
    background-size: 20px 20px;
    background-repeat: no-repeat;
}


.button_left {
    width: 45px;
    height: 48px;
    float: left;
    position: relative;
    margin-left: 5%;
    margin-top: 100px;
}
.button_left  button{
    border:none;
    width: 45px;
    height: 48px;
    background: url(../image_pbl2/icon_pbl2/buttun002.png);
    background-size: 45px 48px;
    background-repeat: no-repeat;
}

.button_right {
    width: 45px;
    height: 48px;
    float: right;
    position: relative;
    margin-right: 5%;
    margin-top: 100px;
}
.button_right button {
    border:none;
    width: 45px;
    height: 48px;
    background: url(../image_pbl2/icon_pbl2/buttun001.png);
    background-size: 45px 48px;
    background-repeat: no-repeat;
}