@charset "utf-8";
/* CSS Document */

body,ul,li{padding:0; margin:0;}

/*
div {
    overflow: hidden;
}
*/


#main_index {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    /*border:1px solid #F00;background-color:#f3fff4;*/
    min-width: 1080px;
    /*max-width: 1200px;*/
    min-height: 800px;
    z-index: -10;
    background-color:rgb(134, 161, 216);
    /*box-shadow: inset 0px 0px 15px 1px #ceeaff;*/
}

#logo {
    width: 15%;
    height: 30px;
    float: left;

}
.web_logo {
    margin-top: 0px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    width: 160px;
    height:30px;
    /*background: url(../../img/logo_site1.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;*/
}

.web_logo a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-family:'Segoe Marker';
 }
.web_logo:hover{
    background-color:#ffd800;
}


/*导航栏*/
#nav_bar {
    opacity: 0.9;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 30px;
    background: #6495ED;
    /*max-width: 1200px;*/
}
.nav_menu {
    float: right;
    font-size: 18px;
    line-height: 30px;
    width: 100px;
    text-align:center;
    /*border:1px solid #CC9;*/
}
.nav_menu a{
	color:#FFF;
	text-decoration:none;
}
.nav_menu a:hover{
	cursor:pointer;
	color:#ffd800;
}
.nav_menu_lang {
    float: right;
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: 18px;
    line-height:30px;
    color: #FFF;
    display: block;
    /*border:1px solid #CC9;*/
}
.nav_menu_lang a {
    color: #FFF;
    text-decoration: none;
}
.nav_menu_lang a:hover{
	cursor:pointer;
    color:#ffd800;
}

.dropdown-content {
    display: none;
    position: absolute;
    width:80px;

    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    height: 30px;
    color: #4169E1;
    font-size: 18px;
    line-height:30px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
	background:#6495ED;
    color:#ffd800;
}
.nav_menu_lang:hover .dropdown-content{
    display: block;
}
.nav_menu2 {
    float: right;
    font-size: 18px;
    line-height: 30px;
    width: 80px;
    text-align:center;
    /*border:1px solid #CC9;*/
}
.nav_menu2 a{
	color:#FFF;
	text-decoration:none;
    margin-left:10px;
}
.nav_menu2 a:hover{
	cursor:pointer;
	color:#ffd800;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    width:80px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content2 a{
    height: 30px;
    color: #4169E1;
    font-size: 18px;
    line-height:30px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a:hover{
	background:#F07818;
}
.nav_menu2:hover .dropdown-content2 {
    display: block;
}

/*登录后上方展示栏*/
#nav_bar2 {
    opacity: 0.9;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 30px;
    background: #6495ED;
    /*max-width: 1200px;*/
}
#user_data_frame {
    width: 120px;
    height: 30px;
    float: right;
}
.user_data {
    width:auto;
    text-align: center;
    font-size: 18px;
    line-height:30px;
}
.user_head{
    height:25px;
    width:25px;
    border-radius:20px;
    float:left;
}
.user_data a {
    color: #FFF;
    text-decoration: none;
}
.user_data a:hover {
    color:#ffd800;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    width:100px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content3 a{
    height: 30px;
    color: #4169E1;
    font-size: 18px;
    line-height:30px;
    text-decoration: none;
    display: block;
}
.dropdown-content3 a:hover{
	background:#F07818;
}
.user_data:hover .dropdown-content3 {
    display: block;
}



/*校区选择*/
#area_bar {
    height: 80px;
    width: 180px;
    float: left;
    margin-top: 30px;
    position:relative;
}
.area_select {
    height: 30px;
    width: 150px;
    margin: 10px 10px 10px 10px;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 20px;
    color: white;
    border: 2.5px solid #6495ED;
    border-radius: 15px;
}
.area_select:hover{
    cursor:pointer;
	background:#6495ED;
    color:#ffd800;
}
.dropdown-area {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;

}
.dropdown-area a{
    height: 30px;
    color: #4169E1;
    font-size: 20px;
    text-decoration: none;
    display: block;
}
.dropdown-area a:hover{
	background:#6495ED;
    color:#ffd800;
}
.area_select:hover .dropdown-area {
    display: block;
}


/*
.search_bar {
    height: 66px;
    width: 50%;
}
.search_bar form{

    margin-top: 10%;
    margin-bottom: 10%;
}
*/

/*搜索栏*/
#search_bar {
    width: 100%;
    height: 120px;
    background: #fffdec;
}
/*搜索*/
.search {
    width: 75%;
    float: right;
    margin-top: 40px;

    position: relative;

}
.search-top{width: 620px;height: 40px;position: relative;float:left;}
.search-top .search-form {
    display: block;  height: 36px;
}
.input-text {
    outline: 0 none;
    float: left;
    width: 361px;
    height: 22px;
    border: solid #6495ED;
    border-width: 2px 0px 2px 2px;
    padding: 7px 7px 7px 7px;
    line-height: 24px;
    color: #555;
    border-radius: 15px 0px 0px 15px;
}
.input-sub {
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    background-color: #6495ED;
    width: 100px;
    height: 40px;
    float: left;
    padding: 0;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: .2s ease-in-out;
}


.input-sub2 {
    margin-left: 10px;
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    background-color: #c980ff;
    width: 120px;
    height: 40px;
    float: left;
    padding: 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: .2s ease-in-out;
}



.search .keyword {
    line-height: 20px;  white-space: nowrap;  width: 100%;  height: 20px;
    margin-top: 5px;  overflow: hidden;
}
.keyword ul {
    font-size: 0;  vertical-align: top;  display: inline-block;
}
.keyword ul li {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
}
.keyword ul li a {
    color: #999;
    border-right: 1px solid #999;
    padding: 0 8px;
    vertical-align: middle;
}
.keyword ul li b{
    color: #999;
    border-right: 1px solid #999;
    padding: 0 8px;
    vertical-align: middle;
}
.keyword ul li:first-child a {
    padding-left: 0;
}
.head-user-menu {
    font-size: 0;
    margin-top: 24px;
    float: right;
}
.head-user-menu dl {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    z-index: 3;
}
.head-user-menu dl.my-mall {  width: 116px;  }
.head-user-menu dl.my-cart {  width: 128px;  }


.head-user-menu dl dt {
    line-height: 20px;  color: #555;  background-color: #fff;
    height: 20px;  padding: 10px;  border: solid 1px #F0F0F0;
    position: absolute;  z-index: 2;  top: 0;  right: 0;  cursor: pointer;
}
.head-user-menu dl dt span.ico {
    font-size: 16px;color: orangered; display: inline-block;
    width: 20px;  height: 18px;  vertical-align: middle;
}
.gouwuche{ font-size: 16px;color: orangered;}
.head-user-menu dl dd {
    padding: 10px;  background-color: #FFF;  display: none;
    border: solid 1px #F0F0F0;  position: absolute;
    z-index: 100;  top: 40px;right: 0;
}
.head-user-menu dl:hover dd {  display: block;  }


/*商品目录+公告部分*/
#main_bar {
    margin-left:50px;
    width: 100%;
    height: 400px;
    z-index: -10;
    margin-top:20px;
    /*box-shadow: inset 0px 0px 15px 1px #ceeaff;*/
}
/*目录*/
.Catalog {
    display: inline;
    z-index: 3;
    position: relative;
    float: left;
    width: 200px;
    height: 260px;
    margin-top: 20px;
    background-color: #fffdec;
    /*margin-left: 20px;border: solid #6495ED;*/
    border-radius: 10px;
    border:2px solid #6495ED;
    /*0px 0px 15px 1px #ceeaff;*/ box-shadow:
}
.Catalog ul{
    list-style:none;
	height:40px;
	width:95%;
    float:right;

	/*border:1px solid #F00;*/
}
.Catalog ul li{
    list-style-type:none;
    background-size:20px 20px;
    background-repeat:no-repeat;
}

.Catalog ul li a:hover{
	cursor:pointer;
	background:#6495ED;
    color:#ffd800;
}
.Catalog li a{
	width:100%;
	height:40px;
	display:block;
	text-align:center;
	line-height:40px;
	font-weight:500;
	text-decoration:none;
	color:#191970;
	font-size:18px;
	/*border:1px solid #036;font-family:'Adobe Arabic';*/
	letter-spacing:0px;
	
}
.Catalog li b{
	width:100%;
	height:40px;
	display:block;
	text-align:center;
	line-height:40px;
	font-weight:500;
	text-decoration:none;
	color:cornflowerblue;
	font-size:18px;
	/*border:1px solid #036;font-family:"黑体";*/
	letter-spacing:0px;
	
}


/*公告栏*/
.main_ann {
    display:none;
    /*display: inline;*/
    z-index: 3;
    position: relative;
    width: 200px;
    height: 360px;
    float: right;
    background-color: #F5FFFA;
    margin-right: 0px;
    border: solid #6495ED;
    border-radius: 25px 0px 0px 25px;
}
.main_ann li{
    list-style: none;
    margin-left:5px;
	height:30px;
	width:100%;
	/*border:1px solid #F00;*/
}
.main_ann-cont{
    list-style:circle;
    margin-left: 5px;
    height: 30px;
    width: 100%;
}
.ann {
    width: 100%;
    height: 40px;
    /*border:1px solid #36C;*/
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}
.ann img{
    float: left;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}



/*主视觉图*/
.main_figure {
    width: 45%;
    height: 200px;
    /*background-color: #FFA500;*/
    margin-left: auto;
    margin-right: auto;
}
.main_figure img{
    opacity:0.4;
    width:380px;
    height:380px;
    margin-top:20px;
}



/*推送部分*/
#recom_bar {
    width: 80%;
    height: 280px;
    /*    
    background-image: url(../img/8.jpg);
    background-position: center;
    */
    border-radius: 10px 10px 10px 10px;
    background-color: #faf7e4;
    border: 2px solid rgb(134, 161, 216);
    box-shadow: inset 0px 0px 5px 5px rgb(134, 161, 216);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.commodity {
    position: relative;
    width: 200px;
    height: 300px;
    /*border:1px solid #996;*/
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    margin-bottom: 5%;
}
.com_pic {
    width: 200px;
    height: 200px;
    /*border: 1px solid #CCC;*/
    margin-top:20px;
}

.com_con {
    width: 100%;
    height: 30px;
    /*border:1px solid #660;*/
}
.com_name {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    margin: auto;
    height: 30px;
    line-height: 30px;
    text-align:center;
    /*border:1px solid #C3C;*/
    letter-spacing: 1px;
}
.com_price {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 30px;
    line-height: 30px;
    float: right;
    letter-spacing: 2px;
    /*border:1px solid #036;*/
}
.com_pic img {
    float: left;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    /*alt:"../img/error_image.png";*/
}
.com_pic:hover {
    /*border:1px solid #666;*/
    cursor: pointer;
    box-shadow: #666 1px 1px 2px 2px;
}
.com_pic span {
    display: none;
    text-decoration: none;
}
.com_pic:hover span {
    width: 100%;
    height: 50px;
    /*border:1px solid #000;*/
    background: #333;
    opacity: 0.9;
    margin-top: 150px;
    position: absolute;
    float: left;
    display: block;
}
.com_pic .teye {
    width: 33px;
    height: 21px;
    margin-left: 3%;
    margin-top: 16px;
    background: url(../img/eye.png);
    float: left;
}
.com_pic span li {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    float: left;
    list-style: none;
    text-decoration: none;
    margin-left: 3%;
    margin-top: 6%;
    height: 21px;
    line-height: 21px;
}
.com_pic .price {
    width: 40px;
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.price a {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    letter-spacing: 4px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #FFF;
}
.price a:hover {
    cursor: pointer;
    border: 2px solid #F60;
    color: #F60;
}

/*浏览记录部分*/
#record_bar {
    /*
    background-image: url(../img/5.jpg);
    background-position: center;
     */
    border-radius: 10px;
    background-color: #faf7e4;
    border: 2px solid rgb(134, 161, 216);
    box-shadow: inset 0px 0px 5px 5px rgb(134, 161, 216);

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 280px;
    position: relative;
    margin-top: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.bar_lf_slide {

    width: 1920px;
    height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}

.bar_cont {
    width: 95%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #F0F0F0;
    /*background-color: cornflowerblue;
    background: linear-gradient(to bottom, #6495ED, #caf0ff);
    background: radial-gradient(#6495ED 80%, #FFF 20%);*/
    /*border: solid cornflowerblue;
    border-radius: 15px 15px 0px 0px;*/
}
/*
.bar_cont span{
    display: block; 
    position: absolute;
    top:30px; 
    left: 0px; 
    width: 1210px; 
    height: 1px; 
    border-top:1px solid #e5e5e5;
}
.bar_cont h2 {
    font-weight: 700;
    font-size: 28px;
    color: #000;
    background: #f2f2f2;
    width: 200px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
*/

/*联系我们*/

#contact {
    width: 100%;
    height: 200px;
    background: #394568;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    /*float:inherit;*/
    
}
.contact_address {
    width: 300px;
    height: 150px;
    margin-top: 40px;
    margin-right:20px;
    float:right;
}
.contact_address li{
    list-style-type:none;
    width: 100%;
    height: 25px;
    float: left;
    text-align: left;
    line-height: 25px;
    color: #FFF;
    font-size: 18px;

}


/*募集部分*/
#need_bar {
    /*
    background-image: url(../img/5.jpg);
    background-position: center;
    */
    border-radius: 10px 10px 10px 10px;
    background-color: #faf7e4;
    border: 2px solid rgb(134, 161, 216);
    box-shadow: inset 0px 0px 5px 5px rgb(134, 161, 216);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 280px;
    position: relative;
    margin-top: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

/*滚动条*/
#recom_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}
#recom_bar::-webkit-scrollbar {
    display: none;
    width: 10px;
    background-color: #F5F5F5;
}
#recom_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}

#record_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

#record_bar::-webkit-scrollbar {
    display: none;
    width: 10px;
    background-color: #F5F5F5;
}

#record_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}


#need_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

#need_bar::-webkit-scrollbar {
    display: none;
    width: 10px;
    background-color: #F5F5F5;
}

#need_bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}


/*banner顶部广告开始*/
.New-focus-banner {
    width: 680px;
    position: relative;
    height: 400px;
    /*display:inline;
    background: #fff;
    position: relative;*/
    margin-left: 20%;
}

/*轮播图开始*/
.banner-box {
    /*overflow:hidden;
    position: relative;*/
    margin-top: 0px;
    width: 100%;
    height: 400px;
}

.banner-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}

.banner-box ol {
    width: 160px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    margin-left: -41px;
}

.banner-box ol li {
     float: left;
     display: block;
     width: 8px;
     height: 8px;
     margin: 5px;
     border: 2px solid #3e3e3e;
     border-radius: 50%;
     background: #3e3e3e;
 }

.banner-ol-cke {
    background: orangered !important;
    border: 2px solid orangered !important;
    border-radius: 50%;
}

.ig {
    position: absolute;
}
/*轮播图结束*/

@keyframes dd-go {
    100% {
        top: 50px;
    }
}

.icon_single {
    background-size: 20px 20px;
    background-repeat: no-repeat;
}


.button_left {
    width: 45px;
    height: 48px;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-top: 100px;
    z-index: 5;
}

.button_left button {
    border: none;
    width: 45px;
    height: 48px;
    background: url(../image_pbl2/icon_pbl2/buttun002.png);
    background-size: 45px 48px;
    background-repeat: no-repeat;
}

.button_right {
    width: 45px;
    height: 48px;
    float: right;
    position: relative;
    margin-right: 1%;
    margin-top: 100px;

    z-index: 5;
}

.button_right button {
    border: none;
    width: 45px;
    height: 48px;
    background: url(../image_pbl2/icon_pbl2/buttun001.png);
    background-size: 45px 48px;
    background-repeat: no-repeat;
 }

