@charset "utf-8";
/* CSS Document */

body, ul, li {
    padding: 0;
    margin: 0;
}

/*第一页=输入邮箱，发送验证码，输入验证码确认*/
#main_ps1 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 200px;
    /*border:1px solid #F00;background-color:#f3fff4;*/
    min-width: 800px;
    z-index: -10;
    background-color: #fffdec;
    margin-top: 20px;
    /*box-shadow: inset 0px 0px 15px 1px #ceeaff;*/
    border-radius: 10px;
    border: 2px solid #6495ED;
}

#mailaddress_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 90%;
    height: auto;
    /*background-color: #b6ff00;*/
    
    font-size:20px;
    line-height:30px;
    font-weight:400;
    color:#808080;
}
/*#mailaddress_frame input{
    border:1px solid #808080;
    font-size:20px;
    line-height:20px;
    height:30px;
} */

#main_ps1 button {
    border: 1px solid #808080;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    background-color: #305489;
    height: 30px;
    width: 120px;
}
#main_ps1 input {
    border: 1px solid #808080;
    font-size: 20px;
    line-height: 20px;
    height: 30px;
} 

#mailcapture_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;
    height: auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #808080;
}


#next_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;
    height: 50px;
    background-color: #b6ff00;
}

/*第二页=输入新密码+确认*/
#main_ps2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width:400px;
    height: auto;
    min-height: 200px;
    /*border:1px solid #F00;background-color:#f3fff4;*/
    min-width: 800px;
    z-index: -10;
    background-color: #fffdec;
    margin-top: 20px;
    /*box-shadow: inset 0px 0px 15px 1px #ceeaff;*/
    border-radius: 10px;
    border: 2px solid #6495ED;
}

#password_reset_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;

    height: auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #808080;
}

#main_ps2 button {
    border: 1px solid #808080;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    background-color: #305489;
    height: 30px;
    width: 120px;
}

#main_ps2 input {
    border: 1px solid #808080;
    font-size: 20px;
    line-height: 20px;
    height: 30px;
} 


/*第三页=自动跳转*/
#main_ps3 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 200px;
    /*border:1px solid #F00;background-color:#f3fff4;*/
    min-width: 800px;
    z-index: -10;
    background-color: #fffdec;
    margin-top: 20px;
    /*box-shadow: inset 0px 0px 15px 1px #ceeaff;*/
    border-radius: 10px;
    border: 2px solid #6495ED;
}

#password_reset_finished_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 90%;
    height: auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #808080;
}

