@charset "utf-8";
/* CSS Document */

body, ul, li {
    padding: 0;
    margin: 0;
}


#main_ps1 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 400px;
    /*border:1px solid #F00;background-color:#f3fff4;*/
    min-width: 800px;
    z-index: -10;
    background-color: rgb(134, 161, 216);
    /*box-shadow: inset 0px 0px 15px 1px #ceeaff;*/
}

#mailaddress_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 90%;
    height: 100px;
    background-color: #b6ff00;
}

#mailcapture_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    width: 90%;
    height: 100px;
    background-color: #b6ff00;
}

#next_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;
    height: 50px;
    background-color: #b6ff00;
}


#main_ps2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 400px;
    /*border:1px solid #F00;background-color:#f3fff4;*/
    min-width: 800px;
    z-index: -10;
    background-color: rgb(134, 161, 216);
    /*box-shadow: inset 0px 0px 15px 1px #ceeaff;*/
}

#password_reset_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;
    height: 200px;
    background-color: #b6ff00;
}

#main_ps3 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 400px;
    /*border:1px solid #F00;background-color:#f3fff4;*/
    min-width: 800px;
    z-index: -10;
    background-color: rgb(134, 161, 216);
    /*box-shadow: inset 0px 0px 15px 1px #ceeaff;*/
}

#password_reset_finished_frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 90%;
    height: 100px;
    background-color: #b6ff00;
}

