/* CSS Document */
/*页面开始*/


#uH_inform{
    width:100%;
    height:800px;
    background-color:#f8f4ef;
    color:#192168;
}


/*头像部分*/
.uH_upHead{
    width:100%;
    height:200px;
    /*background-color:#ff6a00;*/  
}

.uH_headFrame{
    width:200px;
    height:200px;
    text-align:center;
    line-height:20px;
    float:left;

}
.uH_headFrame img{
    width: 160px;
    height: 160px;
    margin-right:auto;
    margin-left:auto;
}
.uH_headFrame .button{
    width:100px;
    height:20px;
    background-color:#2d39a3;
    margin-right:auto;
    margin-left:auto;
    margin-top:140px;
    border:1px solid #000000;
}
.uH_headFrame .button a{
    color:aliceblue;
    font-weight:bolder;
    text-decoration:none;
}
/*个人信息部分*/
.uH_frameISnecessary {
    width: 100%;
    height: 20px;
    margin-top:25px;
}
.uH_fIsTitle {
    width: 200px;
    height: 20px;
    /*background-color:#4cff00;*/
    margin-left:25px;
    float:left;
}
.uH_fIsUnchange {
    width: 500px;
    height: 20px;
    /*background-color:#4cff00;*/
    margin-left: 5px;
    float: left;
}
.uH_fIsSelect {
    width: 500px;
    height: 20px;
    margin-left: 4px;
    float: left;
}
.uH_fIsSelect select{
    width: 80px;
    height: 30px;
    font-size:15px;
    float: left;
}

.uH_fIsInput {
    width: 500px;
    height: 20px;
    margin-left: 4px;
    float: left;
}
.uH_fIsInput input{
    width: 300px;
    height: 25px;
    font-size:15px;
    float: left;
}

.uH_fIsTextarea {
    width: 500px;
    height: 200px;
    margin-left: 4px;
    float: left;
}
.uH_fIsTextarea textarea{
    font-size:15px;
    width: 500px;
    height: 150px;
    float: left;
    font-family:Arial;
}
.uH_fIsTitle .button {
    width: 100px;
    height: 20px;
    background-color: #2d39a3;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #000000;
    text-align:center;
}
.uH_fIsTitle .button a{
    color:aliceblue;
    font-weight:bolder;
    text-decoration:none;
}